---
---
{% include sourceurl.html %}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
img {
    max-width: 100%;
}
button {
    color: #fff
}
.topbar {min-height: 28px; }
#select_language {z-index:9999!important;}
#select_language li a:link {color:#000000!important; font-weight:normal!important;}
#select_language li a:visited {color:#000000!important; font-weight:normal!important;}
#topbar .language-wrapper,
.topbar .language-wrapper {
    vertical-align: middle;
    padding: 0 5px;
    display: inline-flex;
    min-width: 58px;
    margin: 0 auto
}
.topbar .language-wrapper .language{padding:5px 1px;}
.list--item {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DEDEDE
	}
.Page-List__item__excerpt img {margin:20px 0;}
.legal--info {
    padding-top: 10px
}
h1 a:link {
    font-weight: 400 !important;
}
h1 a:hover {
    color: inherit;
}
a h2:hover {
    color: inherit;
}

.Header__title {
    color: #fff;
    margin: 0;
    padding-top: 10px;
    text-align: right;
	font-weight: 300!important;
    margin-top: 5px!important
}
/* Sidebar */
.Blog-Sidebar__section {background-color:#F2F2F2; padding:20px; margin-bottom:20px;}
.Blog-Sidebar__section ul {list-style-type: none; margin:0; padding:0;}
.Blog-Sidebar__section ul li { border-bottom:0px solid ##DEDEDE; margin-left:0px; padding:2px 0px; width:100%; }
.Blog-Sidebar__section ul li  a{font-size:18px; font-weight:700;}
.Blog-Sidebar__section__full {background-color:#F2F2F2; padding:0px; margin-bottom:20px;}
.Blog-Sidebar__section__title__full {font-weight:400; padding:20px;}
.Blog-Sidebar__recent-posts ul {list-style-type: none; }
.Blog-Sidebar__recent-posts ul li { border-bottom:0px solid ##DEDEDE; margin-left:15px; padding:5px 0px; }
.Blog-Sidebar__recent-posts ul li  a{}
.p--action {
    text-align: center!important;
    margin: 30px 0
}
.fl--left {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px
}
.sc--center {
    display: block;
    margin-left: 0;
    margin-right: 0;
    text-align: center
}
.Social {
    margin-top: -5px;
    margin-bottom: 20px;
    text-align: right
}

.Social__nav li a {
    text-align: center
}
.Social h5 {
    font-weight: 400;
    margin-bottom: 0;
    font-size: 14px
}
.Social__nav {
    overflow: hidden;
    margin: 0;
    padding: 3px 0;
    list-style: none
}
.Social__nav li {
    display: inline-block;
    zoom: 1;
    padding: 0
}
.Social__nav li img {
    margin-top: -1px
}
.Social__nav li a {
    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
    overflow: hidden;
    text-decoration: none;
    display: block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 12px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 0;
    color: #444
}

.Social__nav a:hover {
    z-index: 2
}

@media only screen and (max-width:768px) {
    .Social {
        margin-top: -5px;
        margin-bottom: 20px;
        text-align: center
    }
    .Social__nav li a {
        width: 50px;
        height: 50px;
        line-height: 50px
    }
}
#footer {padding: 20px 0!important;}
@media only screen and (max-width:480px) {
.mobile-hide {display:none!important;}
}
.ico-banner-layout {
	background-image: url({{ '/images/ico/970x90-bg.jpg' | prepend: SourceUrl }});
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
    text-align: center;
    margin: 20px 0;
}
.ico-banner-title {
	display: block;
	font-weight: bold;
	font-size: 24px;
	color: #e98024;
	margin-top: 15px
}
.ico-banner-subtitle {
	display: block;
	font-weight: 400;
	font-size: 24px;
	
}
.ico-banner-col-end-date {
	border-left: 30px solid transparent;
    border-bottom: 100px solid #e98024; 
	height: 0;
    line-height: 40px;
	padding: 0px;
	margin: 0px;
	margin-left: -15px;
}
.ico-banner-ends {
    display: block;
	font-weight: bold;
	font-size: 28px;
	line-height: 32px;
	color: #fff;
	margin-top: 20px;
	padding: 0 20px;
}
.ico-date {
	display: block;
}
@media only screen and (max-width: 992px) {
	.ico-banner-ends {
       font-size: 22px;
	   line-height: 26px;
	   padding: 0 5px;
    }
}
@media only screen and (max-width: 766px) {
	  .ico-banner-col-end-date {
		border-left: 0px;
		border-bottom: 0px; 
		height: 100%;
		line-height: auto;
		background-color: #e98024;
		padding: 15px 0;
        margin: 0 15px;
        margin-top: 20px;
		display: block;
	}
	.ico-banner-col-main {
		display: block;
	}
	.ico-banner-ends {
		margin: 0;
      	padding: 5px;
	}
	.ico-date {
		display: inline;
	}
}
.ico-banner-links:hover {
  	text-decoration: none;
}