---
layout: default
title: Daily Report
excerpt: 
keywords: 
language: en
---
{% include lang.html %}
{% assign engPosts = site.posts | where: "language", "en" %}
{% for post in engPosts limit:10 %}  
<div class="row list--item">
	<div class="col-sm-12">
		<div class="Page-List__item__excerpt">	
		    <h1><a href="{{ post.url | assetspath }}">{{ post.title }}</a></h1>
				<h3><a href="{{ post.url | relative_url }}"></a></h3>
				<p>5</p>
				<p>{{ assetspath }}</p>
				<p>{{ post.url }}</p>
				<p>{{ assetspath }}{{ post.url }}</p>
				<p>{{ post.url | prepend: assetspath }}</p>

				<h2>Nav 2</h2>
				{% for page in site.pages %}						
					{% if page.title %}
						<li><a href="{{ page.url | prepend: assetspath }}">{{ page.title }}</a></li>
					{% endif %}	
				{% endfor %}

			{{ post.content }}
		</div>
	</div>	
</div>
{% endfor %}