<div id="footer" class="primary-bg-color">
	<div id="footer-menu">
		<div class="container">
			<div class="row">
				<div class="col">
			    	&nbsp;
				</div>			
			</div>
		</div>
	</div>
	<div id="footer-regulatory" class="primary-bg-color-dark">
		<div class="container">
			<div class="row">
				<div class="col">
						<p id="regulatory-text" class="content-inverse-color">{{ translate.regulatory-text }}</p>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-last" class="primary-bg-color">
		<div class="container">
			<div class="row">
				<div class="col center-text">
					<p class="font-s content-inverse-color">&copy; 2017 Binary.com</p>
				</div>
			</div>
		</div>
	</div>
</div>

