<div id="footer" class="primary-bg-color">
	<div id="footer-menu">
		<div class="container">
			<div class="row">
				<div class="col">
			    	&nbsp;
				</div>			
			</div>
		</div>
	</div>
	<div id="footer-regulatory" class="primary-bg-color-dark">
		<div class="container">
			<div class="row">
				<div class="col">
				{% if siteLang == "en" %}
						<p id="regulatory-text" class="content-inverse-color">Disclaimer: This financial market report is intended for educational and information purposes only. It should not be construed as investment or financial advice and you should not rely on any of its content to make or refrain from making any investment decisions. The views expressed in this report are those of the author and do not necessarily reflect the views or position of Binary.com. Binary.com accepts no liability whatsoever for any losses incurred by users in their trading. Binary options trading may incur losses as well as gains.</p>
					{% elsif siteLang == "id" %}
						<p id="regulatory-text" class="content-inverse-color">Sanggahan: Laporan pasar keuangan ini bertujuan untuk pendidikan dan informasi saja. Laporan ini tidak dapat dijadikan sebagai saran investasi begitu pula sebaliknya dimana Anda tidak dapat mengandalkan sepenuhnya isi dari laporan untuk membuat atau menahan diri dalam membuat keputusan investasi. Pandangan yang diungkapkan dalam laporan ini berasal sepenuhnya dari penulis dan tidak semestinya mencerminkan pandangan atau posisi Binary.com dan Binary.com tidak bertanggung jawab atas apapun kerugian yang diakibatkan berdasarkan penggunaan laporan dalam trading mereka. Opsi Binary dapat menghasilkan kerugian serta keuntungan.</p>
					{% elsif siteLang == "ru" %}
						<p id="regulatory-text" class="content-inverse-color">Отказ от ответственности: Данный обзор финансового рынка предназначен лишь для образовательных и информационных целей. Он не должен рассматриваться в качестве инвестиционного или финансового совета, а Вы не должны полагаться на любую его часть при принятии или отказе от принятия любых инвестиционных решений. Мнение, выраженное в данном обзоре, принадлежит автору и не всегда совпадает с мнением Binary.com.Binary.com не несёт ответственности за любые потери, которые могут понести трейдеры в процессе своей торговли. Пожалуйста, примите во внимание, что торговля бинарными опционами может принести не только прибыль, но и убытки.</p>
					{% else %}
						<p id="regulatory-text" class="content-inverse-color">Disclaimer: This financial market report is intended for educational and information purposes only. It should not be construed as investment or financial advice and you should not rely on any of its content to make or refrain from making any investment decisions. The views expressed in this report are those of the author and do not necessarily reflect the views or position of Binary.com. Binary.com accepts no liability whatsoever for any losses incurred by users in their trading. Binary options trading may incur losses as well as gains.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<div id="footer-last" class="primary-bg-color">
		<div class="container">
			<div class="row">
				<div class="col center-text">
					<p class="font-s content-inverse-color">&copy; 2017 Binary.com</p>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://apis.google.com/js/platform.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ '/js/code.js' | prepend: site.url }}" defer></script>