<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{{page.keywords}}">
	<link rel="icon" href="{{ '/images/binary-icon.png' | prepend: site.baseurl }}" sizes="57x57"/>
	<link rel="stylesheet" href="https://style.binary.com/binary.css">
	<link rel="stylesheet" href="{{ '/css/flex.min.css' | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ '/css/style.css' | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">		
	{% if siteLang == "en" %}
    <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
	{% elsif siteLang == "id" %}
	<link href="/feed-id.xml" type="application/rss+xml" rel="alternate" title="Laporan" />
	{% elsif siteLang == "ru" %}
	<link href="/feed-ru.xml" type="application/rss+xml" rel="alternate" title="Анализ Рынка" />	
	{% else %}
	<link href="feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
	{% endif %}		
</head>