<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="{{ page.keywords }}">
	<link rel="icon" href="{{ '/images/binary-icon.png' | prepend: site.baseurl }}" sizes="57x57"/>
	<link rel="stylesheet" href="https://style.binary.com/binary.css">
	<link rel="stylesheet" href="{{ domain }}/css/flex.min.css">
	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: domain }}">
	<!-- <link rel="stylesheet" href="{{ domain }}/css/style.css">	--> 
	
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">		
	{% if siteLang == "en" %}
    <link href="{{ site.url }}/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
	{% elsif siteLang == "id" %}
	<link href="{{ site.url }}/feed-id.xml" type="application/rss+xml" rel="alternate" title="Laporan" />
	{% elsif siteLang == "ru" %}
	<link href="{{ site.url }}/feed-ru.xml" type="application/rss+xml" rel="alternate" title="Анализ Рынка" />	
	{% else %}
	<link href="{{ site.url }}/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
	{% endif %}		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://style.binary.com/binary.js"></script>
</head>