{% if siteLang == "en" %}
<title>{% if page.subtitle %}Binary.com Daily Market Report - {{ page.subtitle }}{% else %}{{ site.title | escape }} - {{ site.time | date_to_long_string }} {% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.summary | strip_html | truncatewords: 22 }}{% endif %}">
<link href="{{ site.url }}/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
{% elsif siteLang == "id" %}
<title>{% if page.title %}Binary.com - {{ page.title }}{% else %}Binary.com Анализ Рынка - {{ site.time | date_to_long_string }} {% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.summary | strip_html | truncatewords: 22 }}{% endif %}">
<link href="{{ site.url }}/feed-id.xml" type="application/rss+xml" rel="alternate" title="Laporan" />
{% elsif siteLang == "ru" %}
<title>{% if page.title %}Binary.com {{ page.title }}{% else %}Binary.com Анализ Рынка - {{ site.time | date_to_long_string }} {% endif %}</title>	
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.summary | strip_html | truncatewords: 22 }}{% endif %}">
<link href="{{ site.url }}/feed-ru.xml" type="application/rss+xml" rel="alternate" title="Анализ Рынка" />
{% else %}
<title>{% if page.title %}Binary.com Daily Market Report - {{ page.title }}{% else %}{{ site.title | escape }} - {{ page.date | date_to_long_string }} {% endif %}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncate: 160 }}{% else %}{{ page.summary | strip_html | truncatewords: 22 }}{% endif %}">
<link href="{{ site.url }}/feed.xml" type="application/rss+xml" rel="alternate" title="Latest 10 blog posts" />
{% endif %}