h1 a {
	font-weight: 300;
}

h1 a:hover {
	text-decoration: underline;
}

.topbar {
    min-height: 28px
}

#select_language {
    z-index: 9999!important
}

#select_language li a:link {
    color: #000000!important;
    font-weight: normal!important
}

#select_language li a:visited {
    color: #000000!important;
    font-weight: normal!important
}

#topbar .language-wrapper,
.topbar .language-wrapper {
    vertical-align: middle;
    padding: 0 5px;
    display: inline-flex;
    min-width: 58px;
    margin: 0 auto
}

.topbar .language-wrapper .language {
    padding: 5px 1px
}

.sidebar-box {
	padding: 20px;
	margin-bottom: 20px;
}

.sidebar-box h4 {
    margin-top: 0;
}

.sidebar-box p:last-child {
    margin-bottom: 0;
}

.sidebar-box .button {
	margin: 0;
}

.sidebar-box .list-group {
    margin-bottom: 0;
}

#footer {
	margin-top: 15px;
}

#footer-menu h4 {
    font-size: .8695652174rem
}

#footer #footer-menu ul {
    padding: 0;
    margin-top: -10px
}

#footer #footer-menu li {
    line-height: 1
}

#footer .content-inverse-color a {
    text-decoration: underline
}

#footer #footer-regulatory #regulatory-text {
    text-align: justify;
    font-size: .6575162324rem
}

#footer #footer-last .gambling {
    text-align: justify;
    font-size: .7561436673rem;
    font-weight: 400;
    line-height: 110%
}

.report-list {
    width: 100%
}

img {
    max-width: 100%
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px
}

.top-20 {
    margin-top: 20px
}

.bottom-20 {
    margin-bottom: 20px
}

.daily-report img {
    width: inherit;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px
}

.md-padding {
    padding: 20px
}

.tb-15 {
    margin: 15px 0
}

@media only screen and (max-width:480px) {
    .mobile-hide {
        display: none!important
    }
}

.separator-line-thin-gray-xs {
    height: 1px;
    background-color: #dedede;
    margin: 0
}

.Share {
    text-align: right;
    margin: 0;
    margin: 10px 0;
}

.Share h5 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px
}

.Share ul,
.Social ul {
    margin: 0;
    padding: 0
}

.Share ul li,
.Social ul li {
    display: inline-block;
    margin: 0;
    padding: 0 3px
}

.Share img,
.Social img {
    width: 30px;
    height: 30px
}

.Social {
    text-align: right;
    margin: 15px 0
}

.button {
    display: inline-table;
}

.regulatory-text {
    text-align: justify;
    font-size: .6575162324rem
}

.centered {
    text-align: center!important
}

.text-right {
	text-align: right;
}

.reports-home h2 {
    font-size: 22px;
}

.small-date {
    color: #777;
    margin-top: 30px;
    margin-bottom: -20px;
}

.post-content {
    padding-right: 10px;
}


h1 span {
    display: block;
    margin-bottom: 30px;
}

h3 a {
    color: #e98024;
    font-size: 22px;
    font-weight: 400;
}
.sidebar-excerpt {
    padding: 15px 10px;
    border-bottom: 1px solid #f2f2f2;
}
.excerpt-date {
    margin-top: -15px;
}


.firstPost {
    display: none;
}

.LC-active {
    background-color: #f2f2f2;
}

.border {
    border: 1px solid #dedede;
}

.left-border {
    border-left: 1px solid #f2f2f2;
}

.darkGray {
    color: #44484c;
}

/* Language menu fix */
.topbar .language-wrapper .language {
    padding: 5px 0px !important;
}

.nojs-language {
    margin-top: 0px;
    text-align: right;
    margin-right: -10px;

    a {
        color: #ffffff;
        font-weight: 400;
        padding: 5px 10px;
        line-height: 26px;
        cursor: pointer;

        &:hover {
            text-decoration: none;
            color: #cccccc;
        }

        &.active {
            text-decoration: underline;
            color: #cccccc;
        }
    }
}

@media only screen and (max-width:768px) {
    .Share {
        text-align: center;
        margin: 0;
        margin-bottom: 15px
    }
}

@media only screen and (max-width:992px) {
    .Social {
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center
    }
    .mb-left {
        text-align: left;
    }
    .left-border {
        border: none;
    }
}