.topnav {
  overflow: hidden;
  text-align: right;
  margin-top: 12px;
}

.topnav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;

}
.topnav .button, .topnav a.button-secondary {
    padding: 0;
    border: none;
}
.topnav a.button:hover, .topnav a.button-secondary:hover {
    padding: 0;
    border: none;
}
 
.topnav a:hover {
  border-bottom: 0px solid #dedede;
  color: #ccc;
}
@media screen and (max-width: 992px) {
       .topnav {
          text-align: center;
    }
}
@media screen and (max-width: 768px) {
       .topnav a {
          display: block;
    } 
      .topnav {
          overflow: hidden;
          background-color: #fff;
          text-align: center;
    }  
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #fff;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 768px) {
    .navbar-fixed-top {
        position: relative;
    }
}
.top-nav-collapse a {
    color: #000;
}
.top-nav-collapse a:hover {
    color: #444;
}

