---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ siteLang }}">
{% include head.html %}    
    {% include header.html %}	
		<div class="container">
			<div class="row">
				<div class="col-md-8">	
				</div>
				<div class="col-md-4">
					{% include snippets/share.html %}
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="rte">{{ content }}</div>
				</div>
				<div class="col-md-3">
					{% include sidebar/ready-to-start.html %}
					{% include sidebar/latest-list.html %}
					<div class="sc--center">
					
					</div>
				</div>
			</div>
		</div>
		{% include footer.html %}	
	</body>
</html>
