---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
{% include geturl.html %}
<html lang="{{ siteLang }}">
{% include head.html %}    
    {% include header.html %}
		<div class="container top-20">
			<div class="row">
				<div class="col-lg-9">			
					{{ content }}				
				</div>
				<div class="col-lg-3 left-border">
					{% include sidebar/ready-to-start.html %}
					{% include sidebar/subscribe.html %}
					{% include sidebar/home-list.html %}		
					</div>
			</div>
		</div>	
		{% include footer.html %}	
	</body>
</html>
