<div class="row">
	<div class="col-sm-12">
		<a class="ico-banner-links" href="https://info.binary.com/binaryico_karen">
			<div class="ico-banner-layout">
				<div class="row">
					<div class="col-md-9 ico-banner-col-main">
						<span class="ico-banner-title">THE BINARY.COM ICO IS NOW LIVE</span> <span class="ico-banner-subtitle">The World's First ICO with 18 Years of History</span>
					</div>
					<div class="col-md-3 ico-banner-col-end-date">
						<div class="ico-banner-ends">Token sale <span class="ico-date">ends 25 Dec</span></div>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>