{% assign shareurl = page.url | prepend: site.url  %}
{% if siteLang == "en" %}
	<div class="Share">
		<h5>Share</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>		
		</ul>
	</div>
{% elsif siteLang == "de" %}
	<div class="Share">
		<h5>Aktie</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% elsif siteLang == "fr" %}
	<div class="Share">
		<h5>Partager</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% elsif siteLang == "ru" %}
	<div class="Share">
		<h5>Поделиться</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% elsif siteLang == "es" %}
	<div class="Share">
		<h5>Compartir</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% elsif siteLang == "pt" %}
	<div class="Share">
		<h5>Compartilhar</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% elsif siteLang == "id" %}
	<div class="Share">
		<h5>Bagikan</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% elsif siteLang == "it" %}
	<div class="Share">
		<h5>Condividere</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>		
		</ul>
	</div>	
{% else %}
	<div class="Share">
		<h5>Share</h5>
		<ul>
			<li><a href="https://twitter.com/share?url={{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
			<li><a href="http://www.facebook.com/sharer.php?u={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/facebook.svg" alt="Share on Facebook"></a></li>
			<li><a href="https://plus.google.com/share?url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
			<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
		</ul>
	</div>
{% endif %}