{% assign shareurl = page.url | prepend: site.baseurl  %}
{% if siteLang == "en" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Share</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>		
			</ul>
		</div>
	</div>
{% elsif siteLang == "de" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Aktie</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>							
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "fr" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Partager</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>							
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "ru" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Поделиться</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "es" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Compartir</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "pt" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Compartilhar</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
							
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "id" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Bagikan</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "it" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Quota</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "pl" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Udział</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "vt" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Phần</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% elsif siteLang == "zh_cn" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>分享</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>	
{% elsif siteLang == "zh_tw" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>分享</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>	
{% elsif siteLang == "th" %}
	<div class="mdCenter">
		<div class="Social">
			<h5>หุ้น</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
						
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% else %}
	<div class="mdCenter">
		<div class="Social">
			<h5>Share</h5>
			<ul class="Social__nav">
				<li><a href="https://twitter.com/share?url=https://affiliates.binary.com{{ shareurl }}&amp;text={{ page_title }}&amp;hashtags=binary.com" target="_blank"><img src="https://www.binary.com/images/pages/footer/twitter.svg" alt="Share on Twitter"></a></li>
							
				<li><a href="https://plus.google.com/share?url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/google-plus.svg" alt="Share on Google"></a></li>   
				<li><a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://affiliates.binary.com{{ shareurl }}" target="_blank"><img src="https://www.binary.com/images/pages/footer/linkedin.svg" alt="Share on LinkedIn"></a></li>
			</ul>
		</div>
	</div>
{% endif %}