{% if siteLang == "en" %}
    <h2 class="Header__title">Academy</h2>
{% elsif siteLang == "id" %}
    <h2 class="Header__title">Akademi</h2>
{% elsif siteLang == "ru" %}
    <h2 class="Header__title">Aкадемия</h2>
{% elsif siteLang == "de" %}
    <h2 class="Header__title">Akademie</h2>
{% elsif siteLang == "es" %}
    <h2 class="Header__title">Academia</h2>
{% elsif siteLang == "pt" %}
    <h2 class="Header__title">Academia</h2>
{% elsif siteLang == "fr" %}
    <h2 class="Header__title">Académie</h2>	
{% elsif siteLang == "it" %}
    <h2 class="Header__title">Accademia</h2>
{% else %}
	<h2 class="Header__title">Academy</h2>
{% endif %}	