{% include lang.html %}
{% include geturl.html %}
<div class="row">
	<div class="col">
			{% assign current = page.url %}
			{% assign ActiveLanguagePosts = site.posts | where: "language", siteLang %}	
			{% for post in ActiveLanguagePosts limit:10 %}
				{% if post.language == siteLang %}														
					{% if post.title %}
					<div class="sidebar-excerpt {% if post.url == current %} LC-active{% endif %}{% if post.url == current %} LC-active{% endif %}{% if forloop.first %}firstPost{% elsif forloop.last %}lastPost{% else %}middlePost{% endif %}">
						<h3><a href="{{ post.url | prepend: SourceUrl }}">{{ post.subtitle }}</a></h3>
						<div class="excerpt-date font-s ft-400 darkGray">{{ post.date | date_to_long_string }}</div>
					</div>	
					{% endif %}				
				{% endif %}
			{% endfor %}
	</div>
</div>