{% include lang.html %}
<div class="row">
	<div class="col">
		<div class="sidebar-box fill-bg-color">
			<h3>{{ translate.recent_posts }}</h3>
			<ul class="list-group">	
			{% assign ActiveLanguagePosts = site.posts | where: "language", siteLang %}	
			{% for post in ActiveLanguagePosts | limit:20 %}
				{% if post.language == siteLang %}														
					{% if post.title %}
						<li><a href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></li>
					{% endif %}				
				{% endif %}
			{% endfor %}
			</ul>
		</div>
	</div>
</div>