{% if siteLang == "en" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Ready to start?</h3>	
	<p>Trade in the world's financial markets in a simple, user-friendly platform.</p>
	<a class="button" href="https://www.binary.com/en/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_openafreeaccount_en"><span>Open A Free Account</span></a>
</div>
{% elsif siteLang == "de" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Bereit zu beginnen?</h3>	
	<a class="button" href="https://www.binary.com/de/home.html?utm_source=blog&utm_medium=social&utm_campaign=nov2016_sidebar_eroffnensieein_de"><span>Eröffnen Sie ein kostenloses Konto</span></a>
</div>
{% elsif siteLang == "fr" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Prêt à démarrer ?</h3>	
	<a class="button" href="https://www.binary.com"><span>Ouvrez un compte gratuit</span></a>
</div>
{% elsif siteLang == "ru" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Готовы начать?</h3>	
	<a class="button" href="https://www.binary.com/ru/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_openafreeaccount_ru"><span>Открыть бесплатный счет</span></a>
</div>
{% elsif siteLang == "pt" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Pronto para começar?</h3>	
	<a class="button" href="https://www.binary.com/pt/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_abraumacontagratuita_pt"><span>Abra uma conta gratuita</span></a>
</div>
{% elsif siteLang == "es" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Listo para empezar?</h3>	
	<a class="button" href="https://www.binary.com"><span>Abrir una cuenta gratituta</span></a>
</div>
{% elsif siteLang == "id" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Siap Memulai?</h3>	
	<a class="button" href="https://www.binary.com/id/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_daftarakunuangrill_id"><span>Daftar Akun Uang Riil</span></a>
</div>
{% else %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Ready to start?</h3>	
	<p>Trade in the world's financial markets in a simple, user-friendly platform.</p>
	<a class="button" href="https://www.binary.com/en/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_openafreeaccount_en"><span>Open A Free Account</span></a>
</div>
{% endif %}